
body {
  width: 250px;
  height: 500px;
  overflow-y: scroll;
  background: linear-gradient(to right, rgb(36 126 114 / 72%), rgb(51 51 159 / 96%));
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}


:root{
  --bg-gradient: linear-gradient(60deg, rgb(102 248 255 / 57%), rgba(93, 93, 255, 0.6));
  --shadow-1: 0 3px 8px 0px #50505075
}

.title{
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  margin: 20px 0;
}

h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}

.App{
  color: white;
  font-weight: bold;
}

.btn{
  border: none;
  background: var(--bg-gradient);
  padding: 10px 15px;
  color: white;
  box-shadow: var(--shadow-1);
  border-radius: 6px;
  cursor: pointer;
}

.btn.inactive{
  background: linear-gradient(60deg, rgb(102 248 255 / 8%), rgba(93, 93, 255, 0.2)) !important;
  color: rgb(230, 230, 230);

}
.input{
  outline: none;
  border: none;
}
.textarea{
  min-height: 100px;
  width: 100%;
}

.label{
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.label-file{
  padding: 5px 0px;
  font-size: 12px;
}
.mb-2{margin-bottom: 5px;}
.mt-2{margin-top: 5px;}
.ml-2{margin-left: 5px;}
.mt-3{margin-top: 10px;}
.mt-5{margin-top: 20px;}
.w-full{width: 100%;}
.flex{display: flex;} 
.items-center{align-items: center;}
.justify-center{justify-content: center;}
.justify-between{justify-content: space-between;}
.overflow-hidden{
  overflow: hidden;
}

.message{

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-top: 50px;
  background: linear-gradient(60deg, rgb(102 248 255 / 57%), rgba(93, 93, 255, 0.6));
  border-radius: 6px;
  padding: 20px;
}
.message.error{
  color: rgb(255 248 248);
  background: rgb(255 49 49 / 25%);
}

.bottom-bar{
  position: fixed;
  width: 95%;
  bottom: 2%;
  display: flex;
  column-gap: 10px;
  left: 50%;
  transform: translateX(-50%);
}


.about{

  padding-bottom: 40px;
}
.about-title{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.about-para{
  text-align: center;
  font-size: 14px;
  word-break: break-all;
  font-weight: 400;
  color: rgb(231, 231, 231);
  margin-top: 5px;
}


.about h3{
  font-weight: 600;
  margin-bottom: 6px;
}
.about img{
  width: 100%;
}